.m01,
.m02,
.m07,
.m12,
.m13,
.m14,
.m15,
.m09,
.m10 {
  display: none;
}

.body {
  position: relative;
}

.body.lock {
  overflow: hidden;
}

.mmenu {
  display: none;
}

@media (max-width: 1119px) {
  #services .container, #portfolio .container{
    width: 100% !important;
    max-width: 100% !important;
  }
  .main .swiper-pagination2 {
    margin: 30px auto 0px auto;
  }
  .page .container {
    background-size: 50%;
  }
  .page {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 60px 0px;
  }
  .page .button {
    padding: 10px 15px;
    font-size: 18px;
  }
  .page p {
    max-width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160.19%;
  }
  .main .in05a {
    display: none;
  }
  .page h1 {
    max-width: 65%;
    margin: 30px 0px 60px 0px;
    padding: 80px 0px 0px 0px;
    font-size: 34px;
    line-height: 120.69%;
  }
  .mmenu {
    z-index: 100;
    display: block;
    position: absolute;
    top: -130%;
    width: 100%;
    height: 100%;
    background: #000;
  }
  .mmenu.active {
    top: 0%;
  }
  .mmenu ul {
    padding: 110px 0px 0px 0px;
  }
  .mmenu li {
    font-weight: 700;
    font-size: 36px;
    line-height: 183.19%;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .mmenu li a {
    color: #ffffff;
  }
  .mmenu .mtel {
    margin: 40px 0px 0px 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 103.19%;
    text-align: center;
  }
  .mmenu .mtel a {
    color: #ffe814;
  }
  .mmenu .close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .mmenu .mob01 {
    position: absolute;
  }
  .mmenu .mob02 {
    position: absolute;
    top: 60%;
  }
  .mmenu .mob03 {
    position: absolute;
    right: 0;
    top: 40%;
  }
  .header .banner {
    margin: 0px 0px 30px 0px;
  }
  .container {
    padding: 0px 15px;
  }
  .burger {
    display: block;
  }
  .m07 {
    width: 140px;
    top: 1820px;
    right: 35%;
    display: block;
    position: absolute;
  }
  .m13 {
    top: -30px;
    right: 0;
    display: block;
    position: absolute;
  }
  .m15 {
    top: 1050px;
    left: 0;
    display: block;
    position: absolute;
  }
  .m14 {
    top: 600px;
    right: 0;
    display: block;
    position: absolute;
  }
  .m01 {
    width: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .m12 {
    display: block;
    position: absolute;
    left: 0;
    top: 120px;
  }
  .m02 {
    display: block;
    width: 120px;
    position: absolute;
    right: 35%;
    top: -30px;
  }
  .m09 {
    display: block;
    position: absolute;
    right: 10px;
    width: 80px;
    top: -60px;
  }
  .m10 {
    display: block;
    text-align: center;
    margin: -130px 0px 0px 0px;
  }
  .dtnav,
  .tel,
  .in01,
  .in02,
  .in03,
  .in04,
  .in05,
  .in06,
  .in07,
  .in08,
  .in09,
  .in11,
  .in10 {
    display: none;
  }
  .intro h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 138.19%;
  }
  .intro .subtitle {
    bottom: -150px;
  }
  .intro .button {
    font-size: 18px;
    margin: 180px 0px 0px 0px;
  }
  .header .banner .row {
    margin: 0px 0px 80px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header .banner .row h3 {
    margin: 15px 0px 15px 0px;
  }
  .header .banner .butt {
    margin: 0px 0px -20px 0px;
  }
  .intro {
    margin: 80px 0px 0px 0px;
  }
  .us .title {
    font-size: 20px;
    top: -90px;
    left: -200px;
  }
  .us .wrap {
    padding: 0px 0px 0px 50px;
  }
  .services .title {
    font-size: 20px;
    top: -120px;
    left: -260px;
  }
  .services .item,
  .services .slide img {
    display: none;
  }
  .services .slider01 {
    margin: 0px 0px 0px 50px;
    padding: 0px 0px 60px 0px;
  }
  .services {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 70px 0px;
  }
  .services .slide h2 {
    font-size: 20px;
    line-height: 120.69%;
  }
  .services .slide {
    height: 350px;
    padding: 15px;
  }
  .services .slide p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160.19%;
  }
  .services .slide .button {
    font-size: 19px;
    padding: 10px 20px;
    left: 15px;
    bottom: 20px;
  }
  .main .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
  .main .swiper-pagination-bullet-active {
    width: 60px !important;
  }
  .hot .title {
    font-size: 20px;
    left: -110px;
    top: 130px;
  }
  .hot .wrapper {
    padding: 0px 0px 0px 40px;
  }
  .hot {
    padding: 80px 0px 30px 0px;
  }
  .hot h3 {
    font-size: 24px;
  }
  .hot h4 {
    font-size: 20px;
  }
  .hot .button {
    font-size: 19px;
    padding: 10px 20px;
  }
  .hot .item {
    height: auto;
    padding: 20px 20px 140px 20px;
  }
  .prof h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 135.69%;
  }
  .prof .button {
    font-size: 19px;
    padding: 10px 20px;
    left: 60px;
    right: auto;
  }
  .prof h3 {
    margin: 40px 60px 120px 60px;
  }
  .prof .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prof .yellow h5 {
    padding: 10px 0;
    font-size: 16px;
    -webkit-transform: none;
            transform: none;
    margin: 0px 0px 0px 0px;
  }
  .prof .yellow {
    width: 200px;
    margin: 0px 0px 0px 60px;
  }
  .portfolio .title {
    font-size: 20px;
    left: -45px;
    top: 50px;
  }
  .portfolio .slider02 {
    margin: 0px 0px 0px 40px;
  }
  .portfolio .swiper-slide {
    height: 140px;
  }
  .portfolio .swiper-slide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 220px;
  }
  .swiper-button-next, .swiper-button-next2 {
    display: none;
  }
  .portfolio {
    padding: 60px 0px 100px 0px;
  }
  .footer .wrapper {
    margin: 30px 0px 0px 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .col {
    margin: 0px 0px 30px 0px;
  }

  .portfolio iframe {
	width: calc(20vh * 1.77);
    height: 26vh;
  }
  
}
